# Data Storytelling

blah blah blah

Let's start by importing and inspecting the dataframe.

In [19]:
# import packages
import pandas as pd
import numpy as np
import matplotlib as plt

#import dataset as a dataframe
df = pd.read_csv('Equine_Breakdown_Death_Doping.csv',index_col = 'Unnamed: 0')
df.head()

,Year,Incident Date,Incident Type,Track,Inv Location,Racing Type Description,Division,Weather Conditions,Horse,Trainer,...,Rain,Snow,Wind,Thunder Storm,Hot,Humid,Warm,Year of Action,Action Description,Source
0,2009,2009-03-04,EQUINE DEATH,Aqueduct Racetrack (NYRA),Aqueduct,Racing,Thoroughbred,NaN,Private Details,JOHN P. TERRANOVA II,...,False,False,False,False,False,False,False,NaN,NaN,NaN
1,2009,2009-03-04,ACCIDENT - ON TRACK,Aqueduct Racetrack (NYRA),NaN,Racing,Thoroughbred,NaN,Private Details,JOHN P. TERRANOVA II,...,False,False,False,False,False,False,False,NaN,NaN,NaN
2,2009,2009-03-04,ACCIDENT - ON TRACK,Aqueduct Racetrack (NYRA),Aqueduct,Racing,Thoroughbred,NaN,All Bets Off,B E. LEVINE,...,False,False,False,False,False,False,False,NaN,NaN,NaN
3,2009,2009-03-04,ACCIDENT - ON TRACK,Aqueduct Racetrack (NYRA),Aqueduct,Racing,Thoroughbred,NaN,Hot Chile Soup,ENRIQUE ARROYO,...,False,False,False,False,False,False,False,NaN,NaN,NaN
4,2009,2009-03-04,ACCIDENT - ON TRACK,Aqueduct Racetrack (NYRA),Aqueduct,Racing,Thoroughbred,NaN,One Dream Union,BRUCE R. BROWN,...,False,False,False,False,False,False,False,NaN,NaN,NaN

In [20]:
# use info() method for a summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3240 entries, 0 to 3239
Data columns (total 27 columns):
Year                       3240 non-null int64
Incident Date              3240 non-null object
Incident Type              3240 non-null object
Track                      3240 non-null object
Inv Location               3137 non-null object
Racing Type Description    3240 non-null object
Division                   3240 non-null object
Weather Conditions         2189 non-null object
Horse                      3239 non-null object
Trainer                    3185 non-null object
Jockey Driver              2090 non-null object
Incident Description       3240 non-null object
Death or Injury            2751 non-null object
Cloudy                     3240 non-null bool
Sunny                      3240 non-null bool
Clear                      3240 non-null bool
Overcast                   3240 non-null bool
Rain                       3240 non-null bool
Snow                       3240 non-null bool
Wind                       3240 non-null bool
Thunder Storm              3240 non-null bool
Hot                        3240 non-null bool
Humid                      3240 non-null bool
Warm                       3240 non-null bool
Year of Action             189 non-null float64
Action Description         189 non-null object
Source                     189 non-null object
dtypes: bool(11), float64(1), int64(1), object(14)
memory usage: 465.1+ KB

In [21]:
# display the shape of the dataframe
df.shape

(3240, 27)

Our data frame contains 3,218 entries in 27 columns.

# Trends Over Time

The Equine Death and Breakdown dataset was published in February 2013 but the oldest records in the set are from March 2009. Let's start by looking at some trends over the past 8 years.

In [22]:
# convert 'Incident Date' to datetime object
df['Incident Date'] = pd.to_datetime(df['Incident Date'],format='%Y/%m/%d')
df['Incident Date'].dtype

dtype('<M8[ns]')

To start, let's look at whether the number of deaths and breakdowns has decreased over the years.

In [23]:
year_total = df.groupby('Year')['Year'].count()
year_total

Year
2009    339
2010    442
2011    426
2012    483
2013    418
2014    373
2015    295
2016    251
2017    213
Name: Year, dtype: int64